.grayclr{
    align-content: center;
    background-color: rgb(209, 220, 223);
    width: 550px;
    height: 320px;
    position: absolute;
}
.D{
    font-size: 170px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    position: absolute;
}
.neww{
    top: 82px;
    left: 110px;
    font-size: 43px;
    color: black;
    position: absolute;
    line-height: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.newcl{
    top: 192px ;
    left: 5px;
    font-size: 43px;
    color: black;
    position: absolute;
    line-height: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   
}